@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Dots", monospace !important;
}
 
.sidebarRegionScroller-3MXcoP,
.contentRegionScroller-26nc1e,
.guilds-1SWlCJ,
.container-1taM1r,
.scrollerBase-289Jih.thin-1ybCId.scrollerBase-289Jih {
  background: rgba(0, 0, 0, var(--settings-background-opacity));
}

.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeMedium-1AC_Sl.grow-q77ONN,
.actionButton-3W1xZa.button-38aScr.lookFilled-1Gx00P.colorGreen-29iAKY.sizeSmall-2cSMqn.grow-q77ONN {
  background: -webkit-gradient(linear, left top, right bottom, from(green), to(yellowgreen)) !important;
  background: linear-gradient(to bottom right, green, yellowgreen) !important;
}

.header-ywPcAE,
.list-donH_Z,
.inspector-S2gM3e,
.bd-emote-header,
.content-1YdlXf,
.footer-2gL1pp,
.messageContainer-gbhlwo,
.channelHeader-3Gd2xq,
.content-1LAB8Z.content-191BxG.thin-1ybCId.scrollerBase-289Jih,
.content-1LAB8Z.thin-1ybCId.scrollerBase-289Jih,
.perksModalContentWrapper-2HU6uL,
.ctaBar-2UsjF2,
.scroller-2LSbBU.auto-Ge5KZx.scrollerBase-289Jih.disableScrollAnchor-3V9UtP,
.form-2fGMdU,
.content-3YMskv,
.scroller-RmtA4e.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2,
.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih,
.listScroller-2_vlfo.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2,
.infoScroller-3EYYns.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2,
.peopleList-3c4jOR.auto-Ge5KZx.scrollerBase-289Jih,
.sidebarRegion-VFTUkN,
.contentRegion-3nDuYy,
.paymentRow-2e7VM6.bottomDivider-1K9Gao,
.bottomDivider-1K9Gao.thin-1ybCId.scrollerBase-289Jih,
.pageActions-1SVAnA,
.flex-1xMQg5-flex-1O1GKY-vertical-V37hAW-flex-1O1GKY-directionColumn-35P_nr-justifyCenter-3D2jYp-alignCenter-1dQNNs-noWrap-3jynv6-previewOverlayInner-1WXURq {
  background-color: var(--background-color) !important;
}

.categoryFadeBlurple-1j72_A {
  background-color: rgba(64, 109, 162, 0.8) !important;
}

.serverCount-FsTTs1 {
  margin-top: 4px;
  margin-bottom: 2px;
  font-size: 7px;
}

.emojiItemDisabled-1FvFuF {
  -webkit-filter: blur(var(--blur-radius)) !important;
          filter: blur(var(--blur-radius)) !important;
}

.autocomplete-1vrmpx,
.autocomplete-3l_oCd,
.contentWrapper-SvZHNd {
  background: var(--background-color) !important;
  border-radius: 5px;
}

.scrollableContainer-2NUZem,
.webkit-HjD9Er,
.peopleList-3c4jOR,
.nowPlayingColumn-2sl4cE,
.container-1r6BKw,
.searchAnswer-3Dz2-q,
.tab-ck0077.active-1MbGPa,
.header-2V-4Sw,
.tierBody-16Chc9,
.wrapper-25eVIn.circleButtonMask-1_597P,
.childWrapper-anI2G9,
.tabBarContainer-1s1u-z {
  background: var(--lighter-shade) !important;
}

.wrapper-3NnKdC .scroller-1Bvpku .wrapper-25eVIn foreignObject {
  -webkit-mask: none;
          mask: none;
  border-radius: calc(var(--server-logo-radius) - 4px);
}

.messageGroupBlocked-3wrQQX,
.messageGroupBlockedBtn-1PBBh-,
.option-96V44q:after,
.children-19S4PO:after,
.form-2fGMdU:before {
  display: none !important;
}

.messageContent-2qWWxC {
  color: var(--text-color);
  mix-blend-mode: difference;
}

.scrollbarGhostHairline-1mSOM1,
.scrollbar-3dvm_9,
.hljs {
  background: var(--lighter-shade) !important;
  -webkit-box-shadow: 10px 10px 20px 5px black;
          box-shadow: 10px 10px 20px 5px black;
}

.userPopout-3XzG_A,
.footer-1fjuF6,
.container-2fRDfG,
.wrapper-35wsBm,
.background-1QDuV2,
.inner-1ilYF7,
.menu-3sdvDG,
.list-1xE9GQ,
.modal-3O0aXp,
.searchBar-3dMhjb,
.codeRedemptionRedirect-1wVR4b.card-3Qj_Yx {
  background: var(--darker-shade) !important;
  border-radius: 10px;
}

.resultsGroup-r_nuzN,
.searchFilter-2ESiM3,
.header-2-Imhb.header-ykumBX,
.header-1TKi98,
.tierHeaderLocked-1s2JJz,
.perk-2WeBWW,
.wrapper-3nSjSv,
.container-3baos1,
.header-QKLPzZ,
.searchBar-6Kv8R2,
.activity-1ythUs,
.expandedFolderBackground-1cujaW,
.container-1giJp5,
.radioBar-bMNUI-,
.members-1998pB {
  background: var(--darker-shade) !important;
}

.body-3iLsc4 {
  background: var(--darker-shade) !important;
  border-radius: 0px;
  overflow-y: auto;
}

.member-3-YXUe[data-user-id="465414607767339011"] .nameAndDecorators-5FJ2dg::after {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  margin-left: 4px;
  background: url("https://raw.githubusercontent.com/DevItsMB/DevItsMB/master/verified_developer_badge.png") center/100% 100%;
}

.repliedMessage-VokQwo::before {
  background: var(--reply-color) !important;
  border-radius: 10px;
}

.repliedMessage-VokQwo {
  z-index: 1;
}

.mentioned-xhSam7 {
  z-index: 0;
  background-color: var(--mention-message-color) !important;
}

.botTag-3W9SuW {
  background-color: green;
  color: white;
}

.embedWrapper-lXpS3L,
.embedFull-2tM8--,
.embed-IeVjo6,
.wrapper-2aW0bm,
.form-26zE04 {
  background: #0a0a19 !important;
}

.containerDefault--pIXnN {
  background: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 1000px;
          box-shadow: 0px 0px 1000px;
}

.messageAttachment-1aDidq {
  -webkit-box-shadow: 10px 10px 10px var(--shadow-color);
          box-shadow: 10px 10px 10px var(--shadow-color);
}

.unreadBar-3t3sYc[aria-hidden="false"] {
  background: var(--lighter-shade) !important;
  color: var(--text-color) !important;
  border-radius: 10px !important;
}

.headerNormal-T_seeN,
.header-2BwW8b {
  background: linear-gradient(45deg, red, yellow) !important;
}

.activityUserPopout-2yItg2 {
  background: -webkit-gradient(linear, left bottom, right top, from(red), to(blue));
  background: linear-gradient(to top right, red, blue);
}

.scrollerSpacer-avRLaA {
  margin: 0px;
}

.inlineCode-2ngu6Y,
.inline {
  background: #0a0a19 !important;
  border-radius: 5px !important;
  -webkit-box-shadow: 7px 7px 20px 5px black;
          box-shadow: 7px 7px 20px 5px black;
}

.mention {
  background: #0a1932;
}

.messagesPopoutWrap-1MQ1bW {
  background: #0a0a19;
}

.root-217Brm {
  background-image: var(--call-background);
  /*
  background: transparent;
  */
}

.staticButton-1B0rfQ,
.centerButton-3CaNcJ,
.colorable-1bkp8v,
.white-3GPOIp,
.button-38aScr,
.lookBlank-3eh9lL,
.colorBrand-3pXr91,
.grow-q77ONN {
  background: transparent !important;
}

.numberBadge-2s8kKX,
.base-PmTxvP,
.baseShapeRound-1Mm1YW {
  background: var(--mention-circle-color) !important;
  color: var(--mention-circle-text-color);
}

.wrapper-1BJsBx {
  -webkit-box-shadow: 11px 12px 20px 0px black !important;
          box-shadow: 11px 12px 20px 0px black !important;
  background: transparent;
  border-image-slice: initial;
  outline-color: transparent !important;
  border-radius: 0% im !important;
}

#app-mount .wrapper-2a6GCs {
  -webkit-box-shadow: 0px 0px 50px var(--shadow-color);
          box-shadow: 0px 0px 50px var(--shadow-color);
  margin: 10px;
  border-radius: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: var(--text-color);
  background: rgba(0, 0, 0, var(--settings-background-opacity));
}

#app-mount .blockedSystemMessage-2Rk1ek.container-3-pyIM {
  display: none;
}
